 <!--page title start-->
@*<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-uppercase">Blog Single</h4>
            </div>
        </div>
    </div>
</section>*@
<!--page title end-->

<!--body content start-->
<section class="body-content ">

    <div class="page-content">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <!--classic image post-->
                    <div class="blog-classic">
                        <div class="blog-post">
                            <h4 class="text-uppercase"><a href="blog-single.html">Funcionarios públicos y corrupción	</a></h4>
                            <ul class="post-meta">
                                <li>
                                    <i class="fa fa-user"></i>Escrito por <a href="#">Marco Antonio Terragni</a>
                                </li>
                                <li>
                                    <i class="fa fa-folder-open"></i>  <a href="#">doctrina general</a>
                                </li>
                            </ul>
                            <div>
                                <p>
                                    SUMARIO: La forma republicana de gobierno. Los funcionarios de la República. Las virtudes requeridas. ¿Qué espera la República de un funcionario? Las instituciones y las personas. Cuestiones de política criminal. La facilidad para delinquir. El mal uso del sistema penal. Los intereses que se busca proteger por vía de la represión penal. El ideal buscado. La infracción al deber. El particular y el funcionario. Criminalidad actual y nueva normativa.
                                </p>
                                <p>
                                    § 1.<b>La forma republicana de gobierno.</b> Un Estado en que la forma de gobierno es republicana y representativa, el pueblo no delibera ni gobierna en forma directa. Siendo así, quienes desempeñan las tareas atinentes a la conducción de los negocios de toda la comunidad y las personas designadas para cubrir los demás cargos públicos previstos por la ley, deben dar cuenta de las acciones que realicen en el carácter de tales, pues uno de los caracteres que identifican a la república, diferenciándola de las demás formas de gobierno, es la responsabilidad de los funcionarios ante la ley.
                                </p>
                                <p>
                                    § 2.<b>Los funcionarios de la República.</b> Como resulta obvio (aunque muchas veces no aparezca entendido en la realidad de lo que sucede), quienes desempeñan un empleo propio de la República no están a disposición de una persona (como ocurren con aquellos que se encuentran al servicio de un monarca absoluto o de un autócrata cualquiera), sino obran en beneficio de sus pares: ante la organización jurídica de todos deben responder.
                                </p>
                                <p style="padding-left:20px;">
                                    En la Antigüedad el déspota procuraba tener personas que le obedeciesen confiablemente. Hoy es pueblo el que requiere hombres que actúen en provecho de todos sus integrantes. Si un Código Penal habla de los delitos contra la administración, en realidad quiere decir que son crímenes contra el pueblo, contra toda la ciudadanía, la que exige a las personas designadas, un desempeño correcto para que se cumplan los fines de beneficio común perseguidos.
                                </p>
                                <p style="padding-left:20px;">
                                    Por eso, cuando la doctrina reitera frases elementales, diciendo, por ejemplo, que la ley penal protege el buen orden y funcionamiento de la administración, no llega a desarrollar la idea, porque el que sufre, en definitiva, es el pueblo, no la administración, ya que ella constituye apenas una creación de la comunidad, un medio instrumental para el servicio de los objetivos sociales; ocuparse de los asuntos que incumben a todos. Ello confirma que los agravios punibles no son —dicho de manera precisa— delitos contra la administración sino delitos en perjuicio de los ciudadanos.
                                </p>
                                <p>
                                    § 3.<b>Las virtudes requeridas.</b> Lo expuesto en el párrafo anterior es así incluso teniendo en cuenta que hay otros intereses generales que la ley penal debe tutelar: tomo el ejemplo del delito de enriquecimiento ilícito de los funcionarios públicos. No es una falta contra la administración, sino que ataca la necesidad que tenemos los ciudadanos de que tales individuos no abusen de sus cargos para hacerse ricos, olvidando así la necesidad de proceder con honradez; lo que es lo mismo, con rectitud y probidad.
                                </p>
                                <p style="padding-left:20px;">
                                    El enriquecimiento ilícito es un delito grave: y efectivamente lo es, tanto en el sentido del vicio como también porque la corrupción de los funcionarios tiene una repercusión económica de enorme magnitud. Significando lo último mucho, lo más serio es la falta ética, pues ella lleva implícita una injusticia, en el sentido de que la propia existencia del Estado republicano no tiene razón si sus funcionarios no son virtuosos. De lo contrario es imposible alcanzar la justicia.
                                </p>
                                <p style="padding-left:20px;">
                                    Sobre esto es oportuna la cita de Platón, quien pone en boca de Sócrates las siguientes palabras: “Opino que lo que resta en el Estado, tras haber analizado la moderación, la valentía y la sabiduría, es lo que, con su presencia, confiere a todas esas cualidades, toda la capacidad de nacer y —una vez nacidas— les permite su conservación. Y ya dijimos que, después de que halláramos aquellas tres, la justicia sería lo que restara de esas cuatro cualidades”[2].
                                </p>
                                <p>
                                    § 4.<b>¿Qué espera la República de un funcionario?</b> Corresponde plantearnos una y otra vez la pregunta y contestarla diciendo -con Wilson- que la sociedad requiere una forma de gobierno, cuya finalidad sea la de procurar un auxilio mutuo para el desenvolvimiento individual en el marco de mayor libertad posible. Así el gobierno es un instrumento al servicio de la sociedad; no debe dominarla.
</p>
                                <p style="padding-left:20px;">
                                    Por mi parte doy más precisión a la idea: quienes no deben dominar a sus conciudadanos son los funcionarios públicos.
                                </p>
                                <p style="padding-left:20px;">
                                    Sigue Wilson, el recordado presidente norteamericano, enseñando que el límite de las funciones del Estado es la cooperación necesaria para igualar las condiciones de los esfuerzos; para mantener las reglas uniformes en los derechos y relaciones individuales. Su inacción sacrificaría a algunos individuos en beneficio de otros, en la escala de la riqueza y en la posición social.  Ello nunca debe ocurrir: en resguardo del sistema republicano la ciudadanía tiene que distinguir, separadamente, las personas —sea cual fuese el cargo que ostenten— de las instituciones.
                                </p>
                                <p style="padding-left:20px;">
                                    Recuerda el mismo Wilson un ejemplo elocuente a seguir: el ciudadano y el soldado romanos no conocieron la lealtad personal, es decir al individuo, sino que su fidelidad era hacia el Estado. La obligación de obedecer al magistrado sólo duraba mientras el mandato de él estuviese vigente. La subordinación al magistrado no iba dirigida a él personalmente; que lo era en su condición de representante del Estado[3].
                                </p>
                                <p>
                                    § 5.<b>Las instituciones y las personas.</b> En el mismo orden de ideas hay que apuntar que el desprestigio de algunos funcionarios no puede ser trasladado a las organizaciones fundamentales de la sociedad: las instituciones son permanentes y merecen el máximo respeto, como que han sido instituidas por el conjunto social en beneficio de todos. Si la ciudadanía desconfiase de las instituciones en su conjunto, y no sólo de algunos de los hombres que momentáneamente las encarnan, daría paso (como ha ocurrido reiteradamente a lo largo de la historia universal, y de la latinoamericana, en particular) a aventureros que aspiran a tomar el poder y luego de conseguido, a ejercerlo de manera despótica.
</p>
                                <p style="padding-left:20px;">
                                    Coinciden con el pensamiento anterior unas frases de Peco: “No hay que confundir la desviación de unos hombres con la corrupción de las instituciones. La codicia delictuosa no es un delito moderno, ni es inherente al régimen democrático. Todo negociado trasunta algo feo y desdoroso, pero algo más feo y desdoroso que los negociados son los actos de los que, so pretexto de hechos delictuosos, pretenden socavar las bases del gobierno popular y herir de muerte a las instituciones democráticas. Lo que en los regímenes democráticos perjudica no es la libre investigación, el descubrimiento de los hechos, la frecuencia del enriquecimiento ilícito, sino la tolerancia de los hombres y la complicidad de los partidos, la liviandad de las leyes y la impunidad de la justicia”[4].
                                </p>
                                <p>
                                    § 6.<b>Cuestiones de política criminal.</b> ¿Cómo reducir este tipo de criminalidad? Aparte del problema principal, que consiste en la carencia de principios morales, se debe considerar —como lo hizo el Derecho cesáreo de la Roma Antigua— la facilidad para delinquir como un dato criminológico de máxima importancia y, por supuesto, trasladable a cualquier tiempo y lugar.
</p>
                                <p style="padding-left:20px;">
                                    Efectivamente, el funcionario tiene en sus manos el dinero público por lo que, a quien es deshonesto, le resulta relativamente sencillo cambiarle el destino en pos de un beneficio personal ilegítimo. Para más, muchos de los agentes públicos se dejan guiar por la sensación de que gozan de impunidad. Aunque para demostrarles que no es así, y que la amenaza penal se hará efectiva sobre ellos luego de que hayan terminado sus tareas, la ley puede suspender el curso de la prescripción de la acción penal en los casos de delitos cometidos en el ejercicio de la función pública, para todos los que hubiesen participado, mientras cualquiera de ellos se encuentre desempeñando un cargo público.
                                </p>
                                <p>
                                    § 7.<b>La facilidad para delinquir.</b> El dato tiene importancia en nuestra época. No sólo para el análisis criminológico sino porque, en ciertos supuestos, la concurrencia de la conducta de varias personas en un hecho puede acotar la tipicidad. Cuando se comete un delito con estas características uno de los problemas fundamentales es el de la imputación objetiva: a quién, y en base a qué pautas, dirigirla a alguien como autor; y también cómo atribuir a los otros el carácter de partícipes. Los conceptos de la moderna Teoría de la imputación objetiva, en ese ámbito un poco reservado de la administración pública (lo que ocurre puertas adentro) auxilian porque distinguir una actuación adecuada a la ley de otra que excede sus marcos, gira en torno del incremento del riesgo (siguiendo ideas de Roxin) y en orden al desempeño de los respectivos roles (de lo que habla Jakobs). Justamente en este tema los roles es esencial porque todos en la administración los tienen asignados. El delito se produce porque alguien dejó de lado su papel. Por ejemplo: el contador (quien debe negarse a librar una orden de pago si ella no tiene respaldo presupuestario) si permite —debido a su inacción— que la disposición patrimonial ilegal se lleve a cabo.
</p>
                                <p style="padding-left:20px;">
                                    Una labor orientada a reducir la facilidad para delinquir debe incluir no sólo la implementación de controles eficientes sino eliminar, en cuanto fuese posible, el problema de raíz. Ello significa, entre otras cosas, prescindir de la asignación de fondos reservados, sistema que es impropio de la República.
                                </p>
                                <p>
                                    § 8.<b>El mal uso del sistema penal.</b> Más allá de estas cuestiones puntuales, lo que de seguro no se debe hacer es usar la ley penal de manera selectiva, de forma que a veces se juzga duramente a quienes han sido funcionarios y en otras ocasiones sus hechos con encuadre penal son olvidados; una y otra actitud tomando como base consideraciones de política partidista.
</p>
                                <p style="padding-left:20px;">
                                    Muchas de las normas dictadas en la materia, de formulación imprecisa, violan el principio constitucional de concreción de las leyes penales, y se transforman en el cajón de sastre de donde es dado sacar cosas para perseguir políticamente a un funcionario pretendiendo que lo destituyan o que renuncie; o a quien ya se ha reemplazado y se busca destruirlo ante la opinión pública.
                                </p>
                                <p style="padding-left:20px;">
                                    Es lamentable que ello ocurra, pero es que muchos de los tipos penales relativos a este tema se prestan a que sean interpretados de manera tan elástica que queda margen para considerar que una conducta es lícita o ilícita, según el mayor o menor rigor de quien debe aplicarlos. Lo cual habilita el uso de la ley penal para tomar revancha y descalificar conductas que, en sí, no han afectado al bien jurídico bajo tutela.
                                </p>
                                <p style="padding-left:20px;">
                                    En esto la Prensa ejerce en ciertas ocasiones una gran presión con la finalidad de deshonrar a una persona que en realidad puede estar desempeñando una función pública (o haberlo hecho), honestamente. Y es que a menudo aparecen quienes, por interés propio, olvidan que la ley penal es el último recurso, y a él se debe acudir sólo en casos de comprobada delictuosidad y cuando para sancionar las conductas desvaliosas no sean suficientes las reglas del Derecho Administrativo.
                                </p>
                                <p>
                                    § 9.<b>Los intereses que se busca proteger por vía de la represión penal.</b> Por lo general, las Constituciones de las repúblicas, aluden al deber de abstención del Estado: a la limitación que tiene. No puede intervenir con relación a cualquiera de las acciones humanas; sólo lo puede hacer respecto de aquellas que ofendan el orden o la moral pública o perjudiquen a terceros.
</p>
                                <p style="padding-left:20px;">
                                    Esto significa que debe originarse un conflicto vinculado con alguna de esas específicas áreas. Todas las demás acciones son privadas.
                                </p>
                                <p style="padding-left:20px;">
                                    Por contraste resulta claro que el Estado no puede castigar la mera desobediencia. Tiene que estar afectado algún interés intersubjetivo, de las características a las que antes aludí. De la acción tiene que derivar un perjuicio concreto; no es suficiente que concurra la voluntad de ocasionarlo. En la disyuntiva disvalor de acción o disvalor de resultado —que alguna doctrina penal moderna señala— no hay duda que el mandato constitucional rechaza que sea posible inclinarse por el primero, si fuese éste considerado como proveniente de una pura desobediencia, y no ofendiese el orden o la moral pública o perjudicase a terceros.
                                </p>
                                <p>
                                    § 10.<b>El ideal buscado.</b> En general, el valor que se procura resguardar mediante la amenaza de pena es el desenvolvimiento, en el marco de la ley, de la Administración Pública; ésta entendida como mecanismo que el Estado organiza para que la vida social se pueda desarrollar.
</p>
                                <p style="padding-left:20px;">
                                    Ese correcto desempeño puede ser alterado por algunos actos u omisiones de los funcionarios, previstos como punibles por el Código.
                                </p>
                                <p style="padding-left:20px;">
                                    Mediante la amenaza de pena el legislador persigue que los funcionarios sean probos. Esa rectitud es una virtud personal y trascendente, asimismo, por el valor que como ejemplo para el resto de los ciudadanos, brinda una conducta transparente.
                                </p>
                                <p style="padding-left:20px;">
                                    Los valores que justifican la incriminación de conductas que la sociedad ha individualizado como actos de corrupción no son otros que la ética de la función pública y la responsabilidad emergente de representar al conjunto social, lo que impone al funcionario público una actuación ejemplar para el resto de la sociedad.
                                </p>
                                <p>
                                    § 11.<b>La infracción al deber.</b> Que constituya una exigencia constitucional que un bien resulte afectado para que la acción pueda considerarse delictiva, no es obstáculo para reconocer que está ínsito en la materia la idea de infracción al deber a la manera de los Pflichtendelikten, de la terminología germana. Porque mencionar los deberes subraya el criterio de que en realidad lo que se persigue es asegurar bajo la amenaza de pena que las obligaciones puestas al servicio de la función pública deben, necesariamente, cumplirse y que lo contrario perjudica a todos: aquí está el meollo de la cuestión[5].
</p>
                                <p>
                                    §  12.<b>El particular y el funcionario.</b> Las desviaciones en que incurra la persona a la que el Estado le encargó proveer un servicio público no están en el mismo nivel que las derivadas del incumplimiento contractual en que incurra un particular. Quien, sin estar al servicio del público, deja de observar los deberes a los que se ha obligado, se expone a la necesidad de indemnizar los daños que cause. En cambio, el funcionario que haga lo mismo, se enfrenta con la posibilidad de sufrir una sanción prevista por el Código Penal. La diferencia estriba en que la reacción social es distinta: ya que no es sólo la conservación de los bienes del Estado lo que está en juego, sino que se produce una defraudación de la confianza que la sociedad ha puesto en el hombre que debe custodiar los intereses comunes.
</p>
                                <p style="padding-left:20px;">
                                    Los nombres que tienen los Títulos de los Códigos Penales normalmente indican cuál es el bien jurídico afectado por los delitos a que los mismos refieren. Bajo la rúbrica Delitos contra la Administración Pública, se agrupan una serie de infracciones que perjudican de diferentes maneras el desenvolvimiento, legalmente dispuesto, de los distintos órganos del Estado en todos los compartimentos de sus tres poderes. Por lo tanto, el concepto administración pública, así utilizado, engloba los servicios inherentes a esas funciones propias y también a las tareas que el Estado ejercita con una finalidad pública; y aunque no estén dentro de su órbita tradicional. Es decir, esto depende de la política que sea adoptada: estatista o de libre mercado (con intervención de las empresas en la prestación de los servicios públicos). Aunque no siempre, sí habitualmente, lo decisivo es que los ingresos y los gastos, así como la responsabilidad civil por los perjuicios, repercutan de alguna manera en el Estado; entendido éste en la total variedad de las formas que asume.
                                </p>
                                <p style="padding-left:20px;">
                                    En la República Argentina lo que se desea conseguir es que el funcionario se desempeñe de manera eficiente y limitada al ámbito de su competencia. Así se desprende del artículo 20 bis del Código Penal en cuanto permite al Tribunal imponer inhabilitación especial, aunque esa pena no esté expresamente prevista, cuando el delito cometido importe —entre otros casos— incompetencia o abuso en el ejercicio de un empleo o cargo público.
                                </p>
                                <p style="padding-left:20px;">
                                    Girando en torno de la misma idea, en España la doctrina manifiesta que se procura proteger el servicio que los poderes públicos han de prestar a la comunidad.  Es que no se trata de tutelar a la administración por sí misma, sino la actividad pública: el beneficio que a los ciudadanos reporta un correcto funcionamiento del Estado, para que satisfaga de esa manera los intereses generales. Lo que se intenta proteger es el regular desenvolvimiento de la administración[6].  A esto cabe agregar que en ese contexto la palabra regular debe entenderse como equivalente a la frase conforme a la ley.
                                </p>
                                <p style="padding-left:20px;">
                                    Examinando el derecho italiano, Manzini  consideró como objeto de tutela el interés del público en que la administración funcione normalmente y con prestigio; la probidad, fidelidad y decoro funcionales, y el respeto que sus dependientes deben a la voluntad estatal cuando realizan determinados actos vinculados con sus tareas[7].
                                </p>
                                <p style="padding-left:20px;">
                                    En el ámbito germano parlante alguna doctrina argumenta  que no es posible determinar un único bien jurídico tutelado mediante la legislación de los delitos contra la administración (Amtsdelikte). En la Parte Especial del Código Penal alemán aparece un capítulo denominado Hechos punibles en la administración (Straftaten im Amte). A través de las previsiones agrupadas en él son resguardados diversos valores: la fidelidad del funcionario, la confianza pública en la integridad del aparato estatal, y especialmente, la conducción regular de la administración pública (Ordnungsgemässiheit derAmts führung).
                                </p>
                                <p>
                                    § 13.<b>Criminalidad actual y nueva normativa.</b> Países de la órbita cultural que abarca Latinoamérica se encuentran con que se ha producido un cambio: El Derecho Penal que antes se concentraba en enfrentar –principalmente- los delitos cometidos por una sola persona, ahora se encuentra ante la necesidad de encarar infracciones que provienen de grupos y que, en algunos casos, no tienen origen y repercusión en el territorio de un solo Estado. Esto ha dado lugar a la firma de Convenciones Internacionales y hasta provoca cambios en la lingüística, con trascendencia hacia la condición de última ratio que le es consustancial a esta rama de las ciencias jurídicas. Así ocurre con la corrupción, palabra que aquellos instrumentos utilizan pero no definen concretamente. Ello en desmedro del principio de legalidad que significa no sólo ley previa sino también ley estricta.  Tal la Convención Interamericana contra la corrupción suscrita en Caracas el 29 de mayo de 1996 “considerando que la democracia representativa, condición indispensable para la estabilidad, la paz y el desarrollo de la región, por su naturaleza, exige combatir toda forma de corrupción en el ejercicio de las funciones públicas, así como los actos de corrupción específicamente vinculados con tal ejercicio”, no refiere a la  corrupción como si fuese un elemento de un tipo penal específico, sino que declara aplicable esa Convención a los que declara “actos de corrupción”, que en Derecho interno de los países son delitos comunes, contemplados como tales muchos años antes de que se empezase a utilizar la palabra corrupción con el sentido que hoy se la emplea.
</p>
                                <p style="padding-left:20px;">
                                    Como una derivación de esa necesidad de enfrentar esa corruptela, algunos Estados han adoptado medidas cuya adecuación a sus propios principios constitucionales es –al menos- discutible.
                                </p>
                                <p style="padding-left:20px;">
                                    Como ejemplo, me referiré al decomiso.
                                </p>
                                <p style="padding-left:20px;">
                                    Históricamente se entendió que era necesaria la condena para producir la pérdida de los instrumentos del delito y los efectos provenientes del mismo, teniendo en cuenta que el decomiso es una pena. En época reciente, en determinado ámbito, se introdujo la posibilidad de decomisar sin condena penal en ciertos casos, pero exigiendo la previa comprobación de la ilicitud del origen de los bienes o del hecho material al que estuvieren vinculados y que el imputado no pudiere ser enjuiciado por los motivos a los que la norma alude; o hubiere reconocido la procedencia o uso ilícito de los bienes. Luego se avanzó, dejando de lado esos requisitos previos y –usando el arbitrio de llamar extinción de dominio a una acción semejante al decomiso- el Estado pretende pasar a su patrimonio aquellos bienes antes de que haya una condena penal, lo cual pone en crisis diversos principios constitucionales, como son el debido proceso y el resguardo del derecho de propiedad.
                                </p>
                                <p style="padding-left:20px;">
                                    Cualquier ciudadano puede entender y compartir las inquietudes que originan la delincuencia organizada nacional y transnacional pero, seguramente, no todos estarán de acuerdo con que resulten afectados los derechos de quien sea, aunque se trate de un delincuente. Preferirán que los esfuerzos –y sus recursos dinerarios como contribuyente- se empleen en asegurar trámites judiciales rápidos y eficaces.
                                </p>

                                <p>
                                    BIBLIOGRAFÍA:
                                </p>
                                <p style="padding-left:20px;">
                                    Terragni, Marco Antonio, Delitos propios de los funcionarios públicos, Ediciones Jurídicas Cuyo, Mendoza, 2003.
                                </p>
                                <p style="padding-left:20px;">
                                    Tratado de Derecho Penal, tomo III, Parte especial, II, La Ley, Buenos Aires, 2012.
                                </p>
                                <p style="padding-left:20px;">
                                    Derecho Penal. Doctrina y Jurisprudencia, tomo III, Thompson Reuters, La Ley, AbeledoPerrot, Buenos Aires, 2015.
                                </p>

                                <p>
                                    [1] Doctor en Ciencias Jurídicas y Sociales por la Universidad Nacional del Litoral, Santa Fe (Argentina). Doctor en Derecho por la Universidad de Buenos Aires. Doctor en Derecho por la Universidad Complutense de Madrid. Doctor Honoris Causa por la Universidad de Flores, Buenos Aires (Argentina). Profesor Honoris Causa por la Universidad de Cajamarca (Perú). Ex becario del Instituto Max Planck para el Derecho Penal Extranjero e Internacional, de Freiburg (Alemania). Profesor de cursos de posgrado de la Universidad Nacional del Litoral, de la Universidad de Belgrano (Argentina) y de la Universidad del Azuay, Cuenca (Ecuador). Miembro de los Institutos de Derecho Penal de las Academias Nacionales de Derecho de Buenos Aires y de Córdoba (Argentina). Mantiene el sitio de doctrina e información jurídica www.terragnijurista.com.ar
                                </p>
                                <p>
                                    [2] Platón, República, trad. Conrado Eggers Lan, Ed. Planeta-De Agostini, Buenos Aires, 1995, pág. 175.
                                </p>
                                <p>
                                    [3] Wilson, Woodrow, Elementos de política histórica y práctica, trad. Adolfo Posadas, Ed. Americana, Buenos Aires, 1943, pág. 581 y ss.
                                </p>
                                <p>
                                    [4] Peco, José, Proyecto de Código Penal (Exposición de motivos), Instituto de Altos Estudios Jurídicos, Instituto de Criminología, Universidad de La Plata, La Plata, 1942, pág. 543.
                                </p>
                                <p>
                                    [5] Sobre delitos de infracción al deber, v. Jakobs. Günther, El ocaso del dominio del hecho, Ed. Rubinzal-Culzoni, Santa Fe, 2000, pág. 89.
                                </p>
                                <p>
                                    [6] Serrano Gómez, Alfonso, Derecho penal. Parte especial, 2ª. edición, Ed. Dykinson, Madrid, 1997, pág. 681.
                                </p>
                                <p>
                                    [7] Conf. Manzini, Vicenzo, Tratado de Derecho penal, T. 8, Segunda parte. De los delitos en especial, Vol. III, Delitos contra la administración pública, I, trad. Santiago Sentís Melendo y Marino Ayerra Redin, Ed. Ediar, Buenos Aires, 1961, pág. 3.
                                </p>

                                    @*<pre>
                                .blog-classic {
                                    margin-bottom: 70px;
                                    padding-bottom: 70px;
                                    border-bottom: 1px solid #efefef;
                                }
                                </pre>*@

                                    @*<div class="blog-post">
                                    <blockquote class="quote-post">
                                        <p>
                                            Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error
                                        </p>
                                    </blockquote>
                                </div>*@
                            </div>


                            <div class="clearfix inline-block m-top-50 m-bot-50">
                                <h6 class="text-uppercase">Compartí este artículo</h6>
                                <div class="widget-social-link circle">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>


                            <div class="pagination-row">

                                <div class="pagination-post">
                                    <div class="prev-post">
                                        <a href="#">
                                            <div class="arrow">
                                                <i class="fa fa-angle-double-left"></i>
                                            </div>
                                            <div class="pagination-txt">
                                                <span>Anterior artículo</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="post-list-link">
                                        <a href="#">
                                            <i class="fa fa-home"></i>
                                        </a>
                                    </div>

                                    <div class="next-post">
                                        <a href="#">
                                            <div class="arrow">
                                                <i class="fa fa-angle-double-right"></i>
                                            </div>
                                            <div class="pagination-txt">
                                                <span>Siguiente artículo</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>

                            </div>


                            <!--comments discussion section start-->

                            <div class="heading-title-alt text-left heading-border-bottom">
                                <h4 class="text-uppercase">5 comentarios</h4>
                            </div>

                            <ul class="media-list comments-list m-bot-50 clearlist">

                                <!-- Comment Item start-->
                                <li class="media">

                                    <div class="media-body">
                                        <div class="comment-info">
                                            <div class="comment-author">
                                                <a href="#">John Doe</a>
                                            </div>
                                            July 02, 2015, at 11:34
                                            <a href="#"><i class="fa fa-comment-o"></i>Reply</a>
                                        </div>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                        </p>

                                        <!--  second level Comment start-->
                                        <div class="media">

                                            <div class="media-body">

                                                <div class="comment-info">
                                                    <div class="comment-author">
                                                        <a href="#">Maragarita Rose</a>
                                                    </div>
                                                    July 02, 2015, at 11:34
                                                    <a href="#"><i class="fa fa-comment-o"></i>Reply</a>
                                                </div>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                                </p>


                                                <!-- third level Comment start -->
                                                <div class="media">

                                                    <div class="media-body">

                                                        <div class="comment-info">
                                                            <div class="comment-author">
                                                                <a href="#">Margarita Rose</a>
                                                            </div>
                                                            July 02, 2015, at 11:34
                                                            <a href="#"><i class="fa fa-comment-o"></i>Reply</a>
                                                        </div>

                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                                        </p>


                                                    </div>

                                                </div>
                                                <!-- third level Comment end -->

                                            </div>

                                        </div>
                                        <!-- second level Comment end -->

                                    </div>

                                </li>
                                <!-- End Comment Item -->
                                <!-- Comment Item start-->
                                <li class="media">

                                    <div class="media-body">

                                        <div class="comment-info">
                                            <div class="comment-author">
                                                <a href="#">John Doe</a>
                                            </div>
                                            July 02, 2015, at 11:34
                                            <a href="#"><i class="fa fa-comment-o"></i>Reply</a>
                                        </div>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                        </p>

                                    </div>

                                </li>
                                <!-- End Comment Item -->
                                <!-- Comment Item start-->
                                <li class="media">

                                    <div class="media-body">

                                        <div class="comment-info">
                                            <div class="comment-author">
                                                <a href="#">John Doe</a>
                                            </div>
                                            July 02, 2015, at 11:34
                                            <a href="#"><i class="fa fa-comment-o"></i>Reply</a>
                                        </div>

                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                        </p>

                                    </div>

                                </li>
                                <!-- End Comment Item -->

                            </ul>

                            <!--comments discussion section end-->
                            <!--comments  section start-->

                            <div class="heading-title-alt text-left heading-border-bottom">
                                <h4 class="text-uppercase">deja un comentario</h4>
                            </div>

                            <form method="post" action="#" id="form" role="form" class="blog-comments">

                                <div class="row">

                                    <div class="col-md-6 form-group">
                                        <!-- Name -->
                                        <input type="text" name="name" id="name" class=" form-control" placeholder="Nombre *" maxlength="100" required="">
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <!-- Email -->
                                        <input type="email" name="email" id="email" class=" form-control" placeholder="Email *" maxlength="100" required="">
                                    </div>

                                    <!-- Comment -->
                                    <div class="form-group col-md-12">
                                        <textarea name="text" id="text" class=" form-control" rows="6" placeholder="Mensaje" maxlength="400"></textarea>
                                    </div>

                                    <!-- Send Button -->
                                    <div class="form-group col-md-12">
                                        <button type="submit" class="btn btn-small btn-dark-solid ">
                                            Enviar comentario
                                        </button>
                                    </div>


                                </div>

                            </form>

                            <!--comments  section end-->



                        </div>
                    </div>
                    <!--classic image post-->

                </div>


            </div>
        </div>
    </div>


</section>
<!--body content end-->