<!--hero section-->
<div class="banner-state text-center vertical-align height-600">
    <div class="container-mid">
        <div class="container">
            <div class="banner-box light-box">
                <h1 class="text-uppercase">Marco Antonio Terragni</h1>
                <h3 class="text-uppercase">Sobre mí</h3>
            </div>
        </div>
    </div>
</div>
<!--hero section-->

<section class="body-content">

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--post style 3 start-->
                    <div class="post-list-aside">
                        <div class="post-single">
                            <div class="col-md-5">
                                <div class="post-img title-img">
                                    <img src="~/Content/images/perfilMarcoTerragni.png" alt="">
                                    <div class="info">We work together for fun</div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="post-desk p-top-0">
                                    <h4 class="text-uppercase">
                                        <a href="#">biografía</a>
                                    </h4>

                                    <p>
                                        Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
                                    </p>

                                    <!--  accordion time line start-->
                                    <dl class="accordion time-line">
                                        <dt>
                                            <a href="">estudios</a>
                                        </dt>
                                        <dd>
                                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
                                        </dd>
                                        <dt>
                                            <a href="">articulos</a>
                                        </dt>
                                        <dd>
                                            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. leo quam aliquet diam, congue laoreet elit metus eget diam.
                                        </dd>
                                        <dt>
                                            <a href="">reconocimientos</a>
                                        </dt>
                                        <dd>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. Proin ac metus diam.
                                        </dd>
                                    </dl>
                                    <!-- accordion time line end-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--post style 3 end-->
                </div>
            </div>
        </div>
    </div>
    <hr class="m-bot-40"/>
</section>

