 <!--body content start-->
<section class="body-content ">
    <div class="page-content">

        <div class="container" style="margin-top:25px">

            <div class="heading-title-alt border-short-bottom text-center ">
                <h3 class="text-uppercase">contactate conmigo</h3>
                <div class="half-txt">No dudés en contactarte conmigo, me interesa saber su opinion.</div>
            </div>

            <div class="row page-content">
                <div class="col-md-4">
                    <div class="featured-item text-center">
                        <div class="icon">
                            <i class="icon-map"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>dirección</h4>
                        </div>
                        <div class="desc">
                            Almirante Brown 233
                            <br />Rafaela, Santa Fe, Argentina
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-item text-center">
                        <div class="icon">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>teléfono</h4>
                        </div>
                        <div class="desc">
                            +54 3492 454545
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featured-item text-center">
                        <div class="icon">
                            <i class="icon-envelope"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h4>email</h4>
                        </div>
                        <div class="desc">
                            mterragni@estudioterragni.com.ar
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <form class="contact-comments js-Mailer" method="post">
                        <div class="row">

                            <div class="col-md-6 ">

                                <div class="form-group">
                                    <!-- Name -->
                                    <input type="text" name="name" class=" form-control" placeholder="Nombre *" maxlength="100" required data-error="Debes ingresar el nombre">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <!-- Email -->
                                    <input type="email" name="email" class=" form-control" placeholder="Email *" maxlength="100" required data-error="Formato de email inválido">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <!-- Subject -->
                                    <input type="text" name="subject" class=" form-control" placeholder="Asunto" maxlength="100">
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <!-- Comment -->
                                    <textarea name="comments" class="cmnt-text form-control" placeholder="Mensaje" maxlength="400"></textarea>
                                </div>
                                <div class="form-group full-width">
                                    <button type="submit" class="btn btn-small btn-dark-solid ">Enviar mensaje</button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</section>
<!--body content end-->