<!--hero section-->
<div class="banner-state text-center vertical-align height-600">
    <div class="container-mid">
        <div class="container">
            <div class="banner-box light-box">
                <h1 class="text-uppercase">Marco Antonio Terragni</h1>
                <h3 class="text-uppercase">Bienvenido a mi sitio web</h3>
            </div>
        </div>
    </div>
</div>
<!--hero section-->
<!--body content start-->
<section class="body-content">
    <!--post-->
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <p class="txt-xl"> En esta actualización he agregado varios trabajos; muy emotivo para mí porque se trata del recuerdo de mi hermana María Cristina Terragni relativo a mi padre: Antonio Angel Terragni, maestro, periodista, escritor y –lo que es más valioso- gran hombre.</p>
                    <a href="@Url.Action("Index", "Articles")" class="btn btn-medium btn-theme-color text-uppercase">Artículos</a>
                </div>
                <div class="col-md-7">
                    <p>
                        En esta actualización he agregado varios trabajos; uno, muy emotivo para mí porque se trata del recuerdo de mi hermana María Cristina Terragni relativo a mi padre: Antonio Angel Terragni, maestro, periodista, escritor y –lo que es más valioso- gran hombre. <br /> <br />

                        Siguiendo con lo familiar, también en la “Sección Información” General, encontrarán la información acerca de la charla que ofrecí para el Círculo de la Prensa de Rafaela “La libertad de prensa en 2020”. <br />

                        En la misma Sección el comentario del Dr. Luis Alberto De Pró sobre la situación del médico frente a la pandemia. <br />

                        En la “Sección Doctrina, Derecho Penal, Criminología y Política Criminal”  aparece el artículo de Mauro C. Menéndez “Minoridad y delito continuado” (índice 13-Menores). <br />

                        En la “Sección Filosofía” el trabajo de Juan Anchorena que lleva como título “Aportes de Friedrich Nietzche al Derecho Penal”. <br /> <br />

                        Agradezco a todos la colaboración que han prestado e invito nuevamente a los que frecuentan este sitio www.terragnijurista.com.ar

                        para que me manden nuevos trabajos para publicar a mterragni@estudioterragni.com.ar <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--post-->
    <hr />
</section>
<!--body content end-->

<!--blog post-->
<div class="page-content">
    <div class="container">
        <div class="row">

            <div class="heading-title text-center">
                <h3 class="text-uppercase">Últimas publicaciones</h3>
            </div>

            <!--post style 2 start-->
            <div class="post-list">
                <div class="col-md-4">
                    <div class="post-single">
                        <ul class="post-cat">
                            <li>
                                <a href="#">Doctrina General</a>
                            </li>
                        </ul>
                        <div class="post-desk">
                            <h4 class="text-uppercase">
                                <a href="#">Funcionarios públicos y corrupción</a>
                            </h4>
                            <div class="date">
                                <a href="#" class="author">Marco Antonio Terragni</a> Abril 01, 2019
                            </div>
                            <p>
                                La forma republicana de gobierno. Los funcionarios de la República. Las virtudes requeridas. ¿Qué espera la República de un funcionario? [...]
                            </p>
                            <a href="#" class="p-read-more">Leer más <i class="icon-arrows_slim_right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post-single">
                        <ul class="post-cat">
                            <li>
                                <a href="#">Información general</a>
                            </li>
                        </ul>
                        <div class="post-desk">
                            <h4 class="text-uppercase">
                                <a href="#">La situación del médico ante la pandemia</a>
                            </h4>
                            <div class="date">
                                <a href="#" class="author">Luis Alberto De Pró</a> Marzo 31, 2020
                            </div>
                            <p>
                                Organización Mundial de la Salud (OMS). Organismo creado en el ámbito de las Nociones Unidas (ONU) en Nueva York, el 22 de julio de 1946. [...]
                            </p>
                            <a href="#" class="p-read-more">Leer más <i class="icon-arrows_slim_right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post-single">
                        <ul class="post-cat">
                            <li>
                                <a href="#">Cursos y Seminarios</a>
                            </li>
                        </ul>
                        <div class="post-desk">
                            <h4 class="text-uppercase">
                                <a href="#">Análisis general de la Parte Especial</a>
                            </h4>
                            <div class="date">
                                <a href="#" class="author">Marco Antonio Terragni</a> Enero, 2014
                            </div>
                            <p>
                                Contenido multimedia
                            </p>
                            <a href="#" class="p-read-more">Leer más <i class="icon-arrows_slim_right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--post style 2 end-->
        </div>
    </div>
</div>
<!--blog post-->